.container{
  width: 99.99vw;
  height: 10vh;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B9EDDD;
}
a{
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  background-color: green;
  font-size: 1rem;
  border-radius: 3px;
}
a:hover{
  cursor: pointer;
  background-color: aquamarine;
  color: red;
}

/* 1111 */

